
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title></title>
<link th:fragment="css" href="css/loginpage.css" rel="stylesheet"></link>

</head>

<body>



	<!-- Login Form -->
	<div class="login" th:fragment="register">
	
		<h1>Sign up</h1>
		<form method="post" th:action="@{/register}" th:object="${siteUser}">
			<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:red; font-size:90%;">Name Error</div>
			<input class="input" type="text" name="u" placeholder="Email" required="required" th:field="*{email}"/> 
			<div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" style="color:red; font-size:90%;">Name Error</div>
			<input class="input" type="text" name="u" placeholder="First Name" required="required" th:field="*{firstName}"/> 
			<div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" style="color:red; font-size:90%;">Name Error</div>
			<input class="input" type="text" name="u" placeholder="Last Name" required="required" th:field="*{lastName}"/> 
			
			
			<select class="custom-select input" th:field="*{address.city}">
  				<option selected="selected" value="0">Select city ( none )</option>
  				<option th:each="city : ${city}" th:text="${city.getName()}" th:value="${city}"></option>
 			</select>
			
			
			<div id="message"></div>
			<input class="input" type="password" name="password" placeholder="Password" required="required" th:field="*{password}" id="password" />
			<input class="input" type="password" name="confirm_password" placeholder="Confirm Password" th:field="*{passwordConfirmation}" required="required" id="confirm_password"/>
			<button type="submit" class="btn btn-primary btn-block btn-large">Finish</button>
			
		</form>

	</div>
	<script th:fragment="js" src="js/check.js" rel="stylesheet"></script>

</body>
</html>
